<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Musique</title>
    <link rel="stylesheet" href="../themes/style.css">
</head>
<body style="background-color:#17668c ;font-family: 'Poppins';">
    <nav style="background-color: #f2f2f2;font-family: Arial, Helvetica, sans-serif;">
    <div class="one">
<a href="">Accueil</a>
      <a href="music.html">Musique</a>     
      <a href="favoris.html">Favoris</a>
      <a href="formulaire.html">Formulaire</a>      
      <a href="Apropos.html">A Propos</a>
      </div>
      
    
             
    
  </nav>
   <section>
    <h2 style="background-color: white;text-align: center;font-family: Arial, Helvetica, sans-serif;font-style: italic;font-size:x-large;color:#17668c ;">RnB vidéos</h2>
    <div class="two">
      <video>
         <source src="../assets/video/Nickelback_-_Far_Away_[OFFICIAL_VIDEO](480p).mp4" type="">
      </video>
      
        <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Far Away</h3>
        <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Nickelback</p>
        <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;"> "Far Away" est une chanson du groupe canadien Nickelback. Sorti pour la première fois le 23 janvier 2006 en Australie, il s’agissait du deuxième single international, du quatrième single américain et du troisième single au total du cinquième album du groupe, All the Right Reasons (2005).</p>
     </div>
     <div class="two">
      <video>
        
        <source src="../assets/video/Fabolous,_Jagged_Edge,_P._Diddy_-_Trade_It_All_Part_2__Official_Video_(480p).mp4" type="">
      </video>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;"> Fabolous</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : P. Diddy & Jagged Edge</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">C'est un morceau RnB/hip-hop des années 2000 qui célèbre le style de vie glamour et sophistiqué</p>
    </div>
      <video>
        <source src="../assets/video/Nelly_-_Dilemma__Official_Music_Video__ft._Kelly_Rowland(480p).mp4" type="">
      </video>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Dilemma</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Nelly feat. Kelly Rowland</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">C'est un morceau RnB/hip-hop sorti en 2002, très doux et romantique. La chanson parle d'un amour compliqué</p>
    
      <video>
        <source src="../assets/video/Beyoncé_-_Crazy_In_Love_ft._JAY_Z(480p).mp4" type="">
      </video>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Crazy in Love</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Beyoncé feat. Jay-Z</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2003, c'est un énorme hit RnB/pop qui a lancé la carrière solo de Beyoncé. Le morceau mélange énergie, sensualité et puissance, porté par une fanfare iconique (le sample des Chi-Lites).</p>
      <video>
        <source src="../assets/video/Whitney_Houston_-_I_Will_Always_Love_You__Official_4K_Video_(480p).mp4" type="">
      </video>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">I Will Always Love You</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Whitney Houston</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">C'est une ballade émotionnelle et puissante devenue l'une des chansons les plus iconiques de tous les temps. Whitney Houston y exprime un au revoir plein d'amour, où elle quitte quelqu'un tout en lui souhaitant le meilleur.</p>
    
    </section>
    <section>
    <h2 style="background-color: white;text-align: center;font-family: Arial, Helvetica, sans-serif;font-style: italic;font-size:x-large;color:#17668c ;">Vidéos du Mboa</h2>
    <article>
      <video>
         <source src="../assets/video/TAKAM_2-_FOLKLORE_BAMILEKE.wmv(360p).mp4" type="">
      </video>
        <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Folklore Bamiléké</h3>
        <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Takam 2</p>
        <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Le style de cette musique est très traditionnel : ils utilisent des instruments bamiléké typiques comme le mekongtchouah (une sorte de tige en bois avec des lobes métalliques contenant des billes, qui font du bruit quand on la secoue).</p>
    </article>
    <article>
      <video>
        <source src="../assets/video/Sissy_Dipoko_-_BIKUTSI_HIT_2011(480p).mp4" type="">
      </video>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Bikutsi Hit</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Sissy Dipoko</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">C'est un morceau influencé par le bikutsi, un style musical camerounais très rythmé. Dans cette chanson, Sissy Dipoko mêle des sonorités traditionnelles à des arrangements modernes, mettant en valeur sa voix expressive. Le titre fait partie de son album Munam, où elle combine le makossa et le bikutsi.</p>
    </article>
    <article>
      <video>
        <source src="../assets/video/Franko_-Coller_La_Petite__Vidéo_Officielle_(480p).mp4" type="">
      </video>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Coller La Petite</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Franko</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2015, c'est un énorme hit camerounais et africain, devenu viral dans les clubs et sur les réseaux. Le morceau mélange afro-rap et ambiance festive, avec un refrain très accrocheur.</p>
    </article>
    <article>
      <video>
        <source src="../assets/video/Magasco_x_Locko_x_Minks_x_Tenor_x_Rythmz_-_POWER(480p).mp4" type="">
      </video>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Power</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste :Magasco_x_Locko_x_Minks_x_Tenor_x_Rythmz </p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">“Power” est un morceau afro-pop/afro-dance où Magasco célèbre la force intérieure, la réussite et la confiance en soi. Le son est énergique, rythmé, avec une ambiance motivante et entraînante.</p>
    </article>
    <article>
      <video controls height="300">
        <source src="../assets/video/Daphne_-_Calée(480p).mp4" type="">
      </video>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Calée</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste :Daphne </p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2017, “Calée” est un slow afro-love devenu un immense hit au Cameroun et dans toute l'Afrique francophone. La chanson raconte une femme follement amoureuse, “calée” (totalement prise, captivée) par un homme qui lui fait perdre ses repères.</p>
    </article>
    </section>
    <section>
    <h2 style="background-color: white;text-align: center;font-family: Arial, Helvetica, sans-serif;font-style: italic;font-size:x-large;color:#17668c ;">RnB sons</h2>
    <article>
      <audio controls src="../assets/audio/K-Ci___JoJo_-_All_My_Life__Official_Music_Video_(256k).mp3" type=""></audio>
         <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">All My Life</h3>
        <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : K-Ci & JoJo</p>
        <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 1998, c'est l'une des plus grandes ballades RnB d'amour de tous les temps. Les deux chanteurs y expriment une gratitude profonde envers la personne qu'ils aiment, comme un vœu exaucé après une longue attente.</p>
    </article>
    <article>
      <audio controls src="../assets/audio/Jennifer_Lopez_-_If_You_Had_My_Love__Official_Video_(256k).mp3 "type=""></audio>
        <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Love Don't Cost a Thing</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Jennifer Lopez</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2001, ce titre pop/RnB est un hymne d'indépendance féminine. J-Lo y affirme que l'amour vrai ne se mesure pas à l'argent, aux cadeaux ou au luxe : ce qu'elle cherche, c'est l'attention, le respect et la sincérité.</p>
    </article>
    <article>
      <audio controls src="../assets/audio/Rihanna_-_Umbrella__Orange_Version___Official_Music_Video__ft._JAY-Z(256k).mp3 "type=""></audio>
        <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Umbrella</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Rihanna feat. Jay-Z</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2007, c'est un énorme hit pop/RnB qui a marqué la carrière internationale de Rihanna. La chanson parle de protection, soutien et fidélité dans une relation amoureuse : “je serai ton parapluie” face aux difficultés de la vie.</p>
    </article>
    <article>
      <audio controls src="../assets/audio/Usher_-_Yeah!__Official_Video__ft._Lil_Jon,_Ludacris(256k).mp3"type=""></audio>
        <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Yeah!</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Usher</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2004, c'est un énorme hit RnB/Crunk qui a dominé les charts mondiaux. La chanson est ultra-dansante, avec un beat entraînant de Lil Jon, un flow de Ludacris et la voix suave d'Usher.</p>
    </article>
    <article>
      <audio controls src="../assets/audio/John_Legend_-_Ordinary_People__Official_Music_Video_(256k)(1).mp3" type=""></audio>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Ordinary People</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : John Legend</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2005, c'est une ballade RnB soul très émotionnelle. John Legend y parle des hauts et des bas d'une relation amoureuse, en soulignant que les conflits sont normaux et que l'amour demande du travail.</p>
    </article>
    </section>
    <section>
    <h2 style="background-color: white;text-align: center;font-family: Arial, Helvetica, sans-serif;font-style: italic;font-size:x-large;color:#17668c ;">Sons Camerounais</h2>
    <article>
      <audio controls src="../assets/audio/MAAHLOX_LE_VIBEUR_-_Ça_Sort_Comme_Ça_Sort__Clip_Officiel_(480p)(1).mp3 type=""></audio>
         <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Ça Sort Comme Ça Sort</h3>
        <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : MAAHLOX LE VIBEUR</p>
        <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 1998, c'est l'une des plus grandes ballades RnB d'amour de tous les temps. Les deux chanteurs y expriment une gratitude profonde envers la personne qu'ils aiment, comme un vœu exaucé après une longue attente.</p>
    </article>
    <article>
      <audio controls src="../assets/audio/Mr_Leo_-_Jamais-Jamais_[Official_Video](480p)(1).mp3" type=""></audio>
        <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Jamais-Jamais</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Mr Leo</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2001, ce titre pop/RnB est un hymne d'indépendance féminine. J-Lo y affirme que l'amour vrai ne se mesure pas à l'argent, aux cadeaux ou au luxe : ce qu'elle cherche, c'est l'attention, le respect et la sincérité.</p>
    </article>
    <article>
      <audio controls src="../assets/audio/Charlotte_Dipanda_Feat_Tayc_-_Dis-moi___Clip_Officiel__(480p)(1).mp3 "type=""></audio>
        <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Dis-moi</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Charlotte Dipanda Feat Tayc</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2007, c'est un énorme hit pop/RnB qui a marqué la carrière internationale de Rihanna. La chanson parle de protection, soutien et fidélité dans une relation amoureuse : “je serai ton parapluie” face aux difficultés de la vie.</p>
    </article>
    <article>
      <audio controls src="../assets/audio/Tchakala_VIP_LO_GOÛT___video_Officielle_(480p)(1).mp3"type=""></audio>
        <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">LO GOÛT</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Tchakala_VIP</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2004, c'est un énorme hit RnB/Crunk qui a dominé les charts mondiaux. La chanson est ultra-dansante, avec un beat entraînant de Lil Jon, un flow de Ludacris et la voix suave d'Usher.</p>
    </article>
    <article>
      <audio controls src="../assets/audio/Franko_-_Telephone__Official_Video_(480p)(1).mp3" type=""></audio>
      <h3 style="color: white;font-family: Arial, Helvetica, sans-serif;">Telephone</h3>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;">Artiste : Franko</p>
      <p style="color: white;font-family: Arial, Helvetica, sans-serif;font-style: italic;">Sorti en 2005, c'est une ballade RnB soul très émotionnelle. John Legend y parle des hauts et des bas d'une relation amoureuse, en soulignant que les conflits sont normaux et que l'amour demande du travail.</p>
    </article>
    </section>
</body>
</html>